language: python
python:
- "3.6"
- "3.7-dev"
install:
- pip install .
- pip install tifffile
script:
- pytest
deploy:
  provider: pypi
  skip_existing: true
  distributions: sdist bdist_wheel
  on:
    tags: true
    python: "3.6"
  user:
    secure: VYTnPa9kqq7CYA2ICYzihjbTsnfcAJLxumEW0tEEYbA6qMJpp+xhG52UDUA824GSawGXBJvwyabu1X2oo46x44Jd2OFyUX1Ao0IxQDH0nYipuXSJTmsmd9Rc6HCc7pcmYUAkDKpMrz+EN7j2pY4xjBqh+6TaG5wFPXMRw2m/T1XDyyaFvgyTXSXZGCS74A3cf5MHCBqCDVsdZdRNWo6GMOA+Mer3PwErAw/NX38RZ5b7V8DsnRzMCIrXfIki8X3Vaasjvd41jLbhgJCdPYvphQuxGlFuVhFpAdnHfQIH1I56F9MB/1SdqyDWZbJ0B5FwxldbacDiyjohbWzFWypHpsnLDR7ku70UJ22oLuJ2+xH+smo3as+F5dVvMLduQrtzxdkImbzb0onB+pwgJ/oiVkmzVtrSA3+nmdE5/4EGRSoI9gfQtoGmrugmeLA2n/2kQoc1852y+xNpZI8vYP2AMPFo8A++tDazBTp5gYLeymno76gbVgbD94ZHhC9X9iD41sd5uietxkagyea+yagd2zA0P5tqCDpVnDhaZYjzEPGtReaY3VcW7VIuHQDFpVtFI61zoX9cOvxLv9Ni93DibW395yZGA0y1fjc+NuBaPivv59Yx2L3g15MRkcMXv33DUK6tSfypihpBYMPjtW7s0cC4WXHiAFLR/opIqZC5hM8=
  password:
    secure: Pbu9Tlnfe7qRE47/9MufuraRQ1cZdlpS+bFg7PYZgI9vbBkMFnKGhrZMqbwb1JF4pFa7Mr0gE0rgA2aUOmrKq638j7tBmecUoGct6pMwzRkoanWQ/juascuNxnMXt50tCQhvjxrJtb0eqqzoXKidm76IbCCuawpYbBBhBxK5MwdOjl6gMQ4tVhbVmKT6b7vYPe2V6P63m8H8TbW03neEdozhTZC/x9QxMVhpiK1yV1zinGFb7KstOsj368k6B4FznaThOkrSKcPesb6J9RWCrMak+WOi7K32ambRlCuBvescU6wgEAoZvVm4AR+mMIdDSAUqzECcLhC7L8gEl2v8hRJtZIgNsTTmrRMv7QGsXCuGO0tPWFgEg2HqGxop1uj6j8asKyBQ63oeBQrWhxhttkMecooLsKdyhmpV0vwP8swcojdaQdgSiosIGXGFAQN+7rR0GLVUDGA/I9L35vXA17FCs41t1FVfTkzfF422k1w/v3bYihXaCG0E6QCOyGTQYRWcjJNcuucvZt52eMCvG0Bel5PXyjLrZ3a/VMvurHUEcjShLxzxjAMacDTiMokHZaf/wRgULzhT+w7EvXjqWcmzWUryW2uUAE/zxYkB9bhQRFaULbfseJhILXLajmKmmeLa0bq7DCYpL89fLluqeRBRcNrWakhSwsrXSePnysI=
