[tool.black]
line-length = 100
target-version = ['py37']
exclude = '''
(
  /(
      \.git
    | \.direnv
    | \.eggs
    | \.nox
    | \.tox
    | \.venv
    | _build
    | build
    | dist
    | tests  # ignore test directories until we have a better solution for test datasets
  )/
)
'''
