/* note box */
.rst-content .note .admonition-title {
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    background-color: var(--blue);
}

.rst-content .note {
    border-radius: 3px;
    background-color: var(--mediumblue);
}

.rst-content .note a {
    color: var(--darkblue);
    font-weight: bold;
}

.rst-content .note code.literal,
.rst-content .note code.xref.py {
    color: var(--darkblue) !important;
    background-color: #e2f5fd;
    border-color: var(--blue);
}


/* warning box */
.rst-content .warning .admonition-title {
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    background-color: var(--darkpink);
}

.rst-content .warning {
    border-radius: 3px;
    background-color: var(--lightpink);
}

.rst-content .warning a {
    color: var(--darkpink);
    font-weight: bold;
}

.rst-content .warning code.literal,
.rst-content .warning code.xref.py {
    color: var(--darkpink) !important;
    background-color: #feebec;
    border-color: var(--pink);
}

/* important box */
.rst-content .important .admonition-title {
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    background-color: var(--darkorange);
}

.rst-content .important {
    border-radius: 3px;
    background-color: var(--lightorange);
}

.rst-content .important a {
    color: var(--darkorange);
    font-weight: bold;
}

.rst-content .important code.literal,
.rst-content .important code.xref.py {
    color: var(--darkorange) !important;
    background-color: #fffbf6;
    border-color: var(--orange);
}

/* home page get started box */
.rst-content .admonition-get-started {
    /* border-style: solid;
    border-color: var(--darkblue); */
    border-radius: 10px;
    background-color: #c1e9fb;
    /* border-width: 3px; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.rst-content .admonition-get-started .admonition-title {
    background-color: rgba(255, 255, 255, 0);
    color: var(--darkblue)
}

.rst-content .admonition-get-started a {
    font-weight: bold;
}
