/* note box */
.rst-content .note .admonition-title {
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    background-color: var(--blue);
}

.rst-content .note {
    border-radius: 3px;
    background-color: var(--mediumblue);
}

.rst-content .note a {
    color: var(--darkblue);
}

/* warning box */
.rst-content .warning .admonition-title {
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    background-color: var(--darkpink);
}

.rst-content .warning {
    border-radius: 3px;
    background-color: var(--lightpink);
}

.rst-content .warning a {
    color: var(--darkpink);
}

/* important box */
.rst-content .important .admonition-title {
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    background-color: var(--darkorange);
}

.rst-content .important {
    border-radius: 3px;
    background-color: var(--lightorange);
}

.rst-content .important a {
    color: var(--darkorange);
}