/* pylake logo colors */
:root {
  --gray: #404041;
  --mediumgray: #666667;
  --dimgray: #afafaf;
  --lightgray: #d9d9d9;
  --lightestgray: #f0f0f0;
  --pink: #f08d97;
  --green: #84c175;
  --blue: #1dabe3;
  --orange: #f8ae4b;
  --darkpink: #E74555;
  --darkgreen: #599F47;
  --darkblue: #1686B2;
  --darkorange: #E58508;
  --lightpink: #F9CED2;
  --lightgreen: #A5D19A;
  --mediumblue:  #92D7F2;
  --lightblue: #C4E9F8;
  --lightorange: #FCD4A0;
}


div.api-sub-header.docutils.container p {
  color: var(--dimgray);
  font-size: 0.85em;
  margin-top: -2em;
  font-family: monospace;
}

/* Links */
a {
  color: var(--blue);
}

a:visited {
  color: var(--darkblue);
}

.wy-menu a {
  color: var(--lightgray);
}

/* docs build indicator */
.rst-versions .rst-current-version {
  color: var(--pink);
}

/* Cross references to same as color for links */
code.xref.py {
  color: var(--blue) !important;
}

code.xref.any.py {
  color: var(--blue) !important;
}

/* Navigation side bar */
.wy-side-nav-search {
  background-color: var(--blue);
}

.wy-side-nav-search input[type=text] {
  border-color: var(--darkblue);
  border-width: 1.5px;
}

.wy-menu-vertical header, .wy-menu-vertical p.caption {
  color: var(--blue);
}

/* Navigation side bar - version label */
.wy-side-nav-search>div.version {
  color: rgba(255,255,255,0.6);
}

/* API docs, blocks */
.rst-content  dl.py.property {
  width: 100%;
}

.rst-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple)>dt {
  border-top: solid 5px var(--darkblue) !important;
  background-color: var(--lightblue) !important;
  width: 100%;
  border-radius: 3px;
}

.rst-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple) dl:not(.field-list)>dt {
  border-left: solid 3px var(--lightgray) !important;
  border-top: 0px !important;
  background-color: var(--lightestgray) !important;
  padding-right: 25px;
}

/* inline code */
.rst-content code.literal {
  color: var(--gray);
  border-color: var(--lightgray);
  background-color: #edf0f2;
  border-radius: 3px;
}

.rst-content code.download {
  color: var(--blue);
  background-color: rgba(0, 0, 0, 0);
}

/* code block, outer wrapper */
.rst-content pre.literal-block, .rst-content div[class^='highlight'] {
  border-radius: 3px;
}

/* note box */
.rst-content .note .admonition-title {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  background-color: var(--blue);
}

.rst-content .note {
  border-radius: 3px;
  background-color: var(--mediumblue);
}

.rst-content .note a {
  color: var(--darkblue);
}

/* warning box */
.rst-content .warning .admonition-title {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  background-color: var(--darkpink);
}

.rst-content .warning {
  border-radius: 3px;
  background-color: var(--lightpink);
}

.rst-content .warning a {
  color: var(--darkpink);
}
